<mat-toolbar color="basic">
      <span>My App</span>
      <span class="spacer"></span>
      <div class="button-container">
      <button mat-icon-button color="basic" class="mat-icon-button " routerLink="">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-raised-button class="mat-raised-button" routerLink="create">Create Post</button>
    <button mat-raised-button color="primary" class="mat-raised-button" routerLink="poststep">Go to Post List</button>
</div>
</mat-toolbar>
