<div class="row">
  <div class="container">
    <form class="form" [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="first-input">
        <mat-label>Post Title:</mat-label>
        <input
          matInput
          placeholder="Enter Your Title"
          formControlName="name"
          minlength="3"
        />
        <mat-error *ngIf="postForm.get('name').invalid && postForm.get('name').touched">Please enter a post title with at least 6 characters.</mat-error>
      </mat-form-field>

      <mat-form-field class="second-input">
        <mat-label>Description:</mat-label>
        <textarea
          matInput
          placeholder="Enter Your Description"
          formControlName="Description"
          minlength="5"
        ></textarea>
      </mat-form-field>

      <div class="coontainer">
        <button mat-raised-button color="accent" type="submit" [disabled]="postForm.invalid">Creat</button>
        <button mat-raised-button color="warn" type="button">clean form</button>
      </div>
    </form>
  </div>
</div>
