.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    width: 100%;
    max-width: 500px; /* Adjust max-width as needed */
    margin: 50px 0 auto; /* Center the form horizontally */
    background-color: rgba(0, 0, 0, 0.1); /* Gray transparent background */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    display: grid;
  }
  
  .form-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .input-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .input-max-width {
    max-width: 120px; /* Max width for first input */
  }
  
  textarea.input-max-width {
    max-width: 360px; /* Max width for second input (textarea) */
  }
  
  
  